@media (max-width: 480px){
	.container, table{
		width: 100%;
		margin: 0 ;
	}
	.form-container, form {
		width: 5%;
		margin:10 ;
		padding:auto;
		font-size: 10px;
		display: inline-block;
        text-align: left;

	}
	.label {
		float: none;
		width: 100%;
	}
	.container, h2 {
		font-size: 13px;
		margin:0;
	}
	.form-container, td {
		display: block;
        text-align: left;
	}
	.form-container, thead {
		display: block;
        text-align: left;
	}
}

@media (min-width: 480px) and (max-width: 768px){
	.container, table{
		width: 100%;
		margin: 0 ;
	}
	.form-container, form {
		width: 5%;
		margin:10 ;
		padding:auto;
		font-size: 10px;
		display: inline-block;
        text-align: left;

	}
	.label {
		float: none;
		width: 100%;
	}
	.container, h2 {
		font-size: 13px;
		margin:0;
	}
	.form-container, td {
		display: block;
        text-align: left;
	}
	.form-container, thead {
		display: block;
        text-align: left;
	}
}