.transparent{
  background:rgba(0, 0, 0, 0.5);;
  padding:10px;
  margin:0px auto;
  color: white;
}

body {
  background: blueviolet;
  font-size: 14px;
  font-family: "verdana", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

fieldset {
  border: 3px solid #bbb;
  border-radius: 3px;
  margin-bottom: 10px;
}

.form-grup {
  margin-bottom: 20px;
  margin-right: 20px;
}

.form-grup:after, .form-grup:before {
  display: table;
  contant:  "";
}

.form-grup:after {
  clear: both;
}



